.card__spin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: poster;
}

.ant-space-item {
  grid-area: poster;
  display: flex;
  height: 100%;
}

.card__poster {
  width: 183px;
  grid-area: poster;
  height: 100%;
  display: flex;
  justify-content: center;
}

.card__poster--loaded {
  object-fit: cover;
}

@media (max-width: 1010px) {
  .card__poster {
    width: 60px;
  }
}
